.causes {
  background: url("./../../img/causes-bg.jpg") no-repeat top center/cover;
  & .col-md-3 {
    margin-bottom: 20px;
  }
  &__card {
    background: linear-gradient(
      180deg,
      rgba(0, 224, 255, 0.11) 0%,
      rgba(0, 224, 255, 0.0539) 100%
    );
    border-radius: 20px;
    padding: 2.5rem;
    border: 3px solid #49b9e8;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -7px;
      width: 41px;
      height: 10px;
      background: url("../../img/causes-border.svg") no-repeat center/cover;
    }
  }
  &__img {
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-family: "Avenir";
    font-weight: 450;
    font-size: 0.9375rem;
    line-height: 1.2em;
    color: #ffffff;
  }
}

@media (max-width: 500px) {
  .causes {
    &__card {
      padding: 15px;

      &:after {
        bottom: -5px;
        width: 27px;
        height: 7px;
      }
    }
    &__img {
      width: 42px;
      height: 42px;
      margin-bottom: 8px;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
    }
    .col-sm-12 {
      margin-bottom: 18px;
    }
    &.section {
      padding: 55px 0 70px;
    }
  }
}
